Legacy WebService/LegacyConsole/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64542/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LegacyModel" />
  <xs:element name="getReligions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getReligionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LegacyModel" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfDTO_religion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGenders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getGendersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LegacyModel" minOccurs="0" name="Data" nillable="true" type="q2:ArrayOfDTO_gender" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPolitics">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPoliticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LegacyModel" minOccurs="0" name="Data" nillable="true" type="q3:ArrayOfDTO_politic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCountries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LegacyModel" minOccurs="0" name="Data" nillable="true" type="q4:ArrayOfDTO_country" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LegacyModel" minOccurs="0" name="Data" nillable="true" type="q5:ArrayOfDTO_user_types" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMessageTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMessageTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LegacyModel" minOccurs="0" name="Data" nillable="true" type="q6:ArrayOfDTO_messagetypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHobbies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getHobbiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LegacyModel" minOccurs="0" name="Data" nillable="true" type="q7:ArrayOfDTO_hobby" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSchools">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSchoolsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LegacyModel" minOccurs="0" name="Data" nillable="true" type="q8:ArrayOfDTO_school" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getJobs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LegacyModel" minOccurs="0" name="Data" nillable="true" type="q9:ArrayOfDTO_job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LegacyModel" minOccurs="0" name="Data" nillable="true" type="q10:ArrayOfDTO_state" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAddresses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/LegacyModel" minOccurs="0" name="Data" nillable="true" type="q11:ArrayOfDTO_address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMessages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/LegacyModel" minOccurs="0" name="Data" nillable="true" type="q12:ArrayOfDTO_message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserJobs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/LegacyModel" minOccurs="0" name="Data" nillable="true" type="q13:ArrayOfDTO_user_job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserAddress">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/LegacyModel" minOccurs="0" name="getUserAddressResult" nillable="true" type="q14:ArrayOfDTO_user_address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserHobby">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserHobbyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/LegacyModel" minOccurs="0" name="Data" nillable="true" type="q15:ArrayOfDTO_user_hobby" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserSchool">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserSchoolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/LegacyModel" minOccurs="0" name="Data" nillable="true" type="q16:ArrayOfDTO_user_school" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAssociate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAssociateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/LegacyModel" minOccurs="0" name="Data" nillable="true" type="q17:ArrayOfDTO_associate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAdminAssociate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAdminAssociateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/LegacyModel" minOccurs="0" name="Data" nillable="true" type="q18:ArrayOfDTO_admin_associates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/LegacyModel" minOccurs="0" name="user" nillable="true" type="q19:DTO_user" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/LegacyModel" minOccurs="0" name="Data" nillable="true" type="q20:ArrayOfDTO_user" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="newLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/LegacyModel" minOccurs="0" name="user" nillable="true" type="q21:DTO_login" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="newLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/LegacyModel" minOccurs="0" name="Data" nillable="true" type="q22:ArrayOfDTO_user" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>